{% extends "layout.html" %}

{% block main %}
<div style="text-align: center;" class="container">
    <div>
        <h2>About Us</h2>
        <p>
            We believe in the power of opportunity and the impact of a well-suited job on an individual's life.
            This believe drove us to create a platform that bridges the gap between job seekers and their dream career.
        </p>
    </div>
    <div>
        <h2>Our Journey</h2>
        <p>
            Our journey began with a simple yet profound goal: to help job seekers find the right opportunities in an
            increasingly competitive world. As two friends with a shared passion for technology and innovation, we
            embarked
            on a
            mission to develop a user-friendly website that simplifies the job-hunting process.
        </p>
    </div>
    <div>
        <h2>Our Vision</h2>
        <p>
            We envision a world where every job seeker has the tools, resources, and opportunities to find work that not
            only
            sustains them but also fulfills them. Our website is our contribution to this vision—a place where
            possibilities
            are endless, and the next career opportunity is just a click away.
        </p>
    </div>
</div>
{% endblock %}