{% extends "layout.html" %}

{% block main %}

<form action="/" method="post">
  <section id="search-bar">
    <input type="text" id="job-search" placeholder="Find your dream job..." autocomplete="off" autofocus
      name="job-search">
    <button id='jobquery' type="submit">Search</button>
  </section>
  <!--<div>
        <label for="searchInput">Search:</label>
        <input type="text" id="searchInput" placeholder="Type your search">
      </div>-->

  <div>
    <label>Filter by Date Posted:</label>
    <select id="dateFilter" name="dateFilter">
      <option value="all">All</option>
      <option value="today">Today</option>
      <option value="3days">Last 3 Days</option>
      <option value="week">This Week</option>
      <option value="month">This Month</option>
      <!-- Add more options as needed -->
    </select>

    <label>Filter by Certificate:</label>
    <select id="certFilter" name="certFilter">
      <option value="all">All</option>
      <option value="ite">ITE</option>
      <option value="diploma">Diploma</option>
      <option value="degree">Degree</option>
      <!-- Add more options as needed -->
    </select>

  </div>
</form>

<section id="card">
  <!-- Results will be displayed here -->
  {% for response in responses %}
  <form action="/jobdetails" method="get">
    <div class="card">
      <div id="cardphoto">
        <img src={{response.employer_logo}} alt="Company Logo">
      </div>
      <div id="cardtext">
        <a style=>{{response.job_title}}</a>
        <p>{{response.employer_name}}</p>
        <p style="font-size: 15px">{{response.job_country}}</p>
      </div>
      <div id="cardtext">
        <p>Company type: {{response.employer_company_type}}</p>
        <p>Employment type: {{response.job_employment_type}}</p>

      </div>

      <div>
        <select style="visibility: hidden" id="job_id" name="job_id">
          <option selected="selected" value={{response.job_id}}>{{response.job_id}}</option>
        </select>
        <button id='jobdetail' type="submit">Job Details</button>
      </div>
      <p style="font-size: 10px; align-self: flex-end; padding:5px">Via: {{response.job_publisher}}</p>
    </div>
  </form>
  {% endfor %}
</section>


{% endblock %}