{% extends "layout.html" %}

{% block main %}
<!--script type="text/javascript" {{ url_for('static', filename='script.js')}}></script>
  <script type="text/javascript">
     var myVar = myFunc({{responses}})
</script-->

<form action="/" method="post">
  <div class="center mb-3">
    <section id="search-bar">
      <input type="text" id="job-search" placeholder="Find your dream job..." autocomplete="off" autofocus
        name="job-search">
      <button id='jobquery' type="submit" class="btn btn-primary">Search</button>
    </section>
  </div>

  <div class="d-flex justify-content-center mb-3">
    <div class="row">
      <div class="col-auto">
        <label for="dateFilter" class="col-form-label">Date Posted:</label>
      </div>
      <div class="col-auto">
        <select id="dateFilter" name="dateFilter" class="form-select">
          <option value="all">All</option>
          <option value="today">Today</option>
          <option value="3days">Last 3 Days</option>
          <option value="week">This Week</option>
          <option value="month">This Month</option>
        </select>
      </div>
      <div class="col-auto">
        <label for="locationFilter" class="col-form-label">Location:</label>
      </div>
      <div class="col-auto">
        <select id="locationFilter" name="locationFilter" class="form-select">
          <option value=" singapore">Singapore</option>
          <option value=" new-york">New York</option>
          <option value=" san-francisco">San Francisco</option>
          <option value=" london">London</option>
          <option value=" all">All</option>
        </select>
      </div>
      <div class="col-auto">
        <label for="certFilter" class="col-form-label">Certificate:</label>
      </div>
      <div class="col-auto">
        <select id="certFilter" name="certFilter" class="form-select">
          <option value="all">All</option>
          <option value="ite">ITE</option>
          <option value="diploma">Diploma</option>
          <option value="degree">Degree</option>
        </select>
      </div>
    </div>
  </div>
</form>



<section id="card">
  <!-- Results will be displayed here -->
  {% for response in responses %}
  <form action="/jobdetails" method="get">
    <div class="list">
      <div class="item">
        <div class="card">
          <div class="cardimage">
            <img src={{response.employer_logo}} alt="Company Logo">
          </div>
          <div id="cardtext">
            <a style=>{{response.job_title}}</a>
            <p>{{response.employer_name}}</p>
            <p style="font-size: 15px">{{response.job_country}}</p>
          </div>
          <div id="cardtext">
            <p>Company type: {{response.employer_company_type}}</p>
            <p>Employment type: {{response.job_employment_type}}</p>

          </div>

          <div>
            <select style="visibility: hidden" id="job_id" name="job_id">
              <option selected="selected" value={{response.job_id}}>{{response.job_id}}</option>
            </select>
            <button id='jobdetail' type="submit">Job Details</button>
          </div>
          <p style="font-size: 10px; align-self: flex-end; padding:5px">Via: {{response.job_publisher}}</p>
        </div>
      </div>
    </div>
  </form>
  {% endfor %}

  <ul class="listPage">
    <li class="active">1</li>
    <li>2</li>
    <li>3</li>
    <li>4</li>
  </ul>



</section>


{% endblock %}