{% extends "layout.html" %}

{% block main %}
<div class="container d-flex justify-content-center align-items-center">
    <div class="card card-login" style="width: 20rem;">
        <div class="card-body">
            <div class="mb-4 text-center">
                <!-- You may want to change the icon for registration -->
                <i class="bi bi-person-plus" style="font-size: 2rem; color: #007bff;"></i>
                <h3 class="mt-2">Register</h3>
            </div>
            <form action="/register" method="post">
                <div class="mb-3">
                    <label for="username" class="form-label">Username <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="Username"
                        autocomplete="off" autofocus required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password <span class="text-danger">*</span></label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password"
                        required>
                </div>
                <div class="mb-3">
                    <label for="confirmation" class="form-label">Confirm Password <span
                            class="text-danger">*</span></label>
                    <input type="password" class="form-control" id="confirmation" name="confirmation"
                        placeholder="Confirm Password" required>
                </div>
                <div>
                    <button class="btn btn-primary w-100" type="submit">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}